@charset "utf-8";

/*reset*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
text-decoration: none;
color: #000
}

li {
list-style: none;
}

fieldset{
	
}
button{
	
}

html {
font-size: 1em;
/*font-size: 0.625em;*/
line-height: 1;
}

body {
font-family: arial, sans-serif;
}

/*global*/
/* 에러 처리 방법 */
.clearfix:after {
content: " ";
clear: both;
display: block
}

/*날리는 방법*/
.screen_out {
position: absolute;
top: -9999em;
left: -999em;
}

ir_pm{
	text-indent:-999em;
	white-space: nowrap;
	overflow:hidden;
}

/*@media all and (min-width: 1176px) {
.wrap{width:1200px;}
}

@media all and (min-width: 768px) and (max-width: 1175px) {
.wrap{width:712px;}
}

@media all and (max-width: 767px) {
.wrap{width:320px;}
}*/

#wrap{
	width:950px;
	margin:0 auto;

}

header{
	position: relative;
	width:100%;
	height:200px;
	float:left;
	background-color: #de6262;
}

header > h1{
	position:absolute;
	top:30px;
	left:250px;
}
header > nav{
	width:100%;
	height:60px;
	line-height: 60px;
	float:left;
	text-align: center;
}
.lnb{
	width:100%;
	height:100%;
	float:left;
}
.lnb li{
	width:25%;
	height:100%;
	float:left;
	border:1px solid #000;
}
.lnb li > a{
	display: block; /*a 태그를 블락으로 하면 링크가 다 걸리게 된다,.*/
	width:100%;
	height:100%;
	background-color:#9edd55;
}
.lnb li > a:hover{
	background-color:#3e6412;
	color:white;
}

.left{
	width:710px;
	/*콘텐츠의 양에 따라 늘어나도록*/
	float:left;
	padding:20px 10px;
	background-color: rgb(233, 197, 79);
}
.left h2, .left h3{
	margin-bottom : 20px;
}
.left p{
	line-height: 1.5em;
	margin-bottom : 20px;
}
.right{
	width:230px;
	float:right;
	background-color: #ccc;
}